{
  "singleQuote": true,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 100,
  "endOfLine": "lf",
  "singleAttributePerLine": true
}
