.k-overlay {
   position: absolute;
   display: inline-block;
   left: 0;
   top: 0;
   pointer-events: all !important;
   transform: translateX(var(--k-overlay-x, 0px)) translateY(var(--k-overlay-y, 0px));
   background-color: rgb(238, 238, 238);
   padding: 15px;
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.259);
}

.k-overlay-anim-enter {
   animation: kOverlayAnimation 0.25s;
}
.k-overlay-anim-leave {
   animation: kOverlayAnimation 0.25s reverse;
}

@keyframes kOverlayAnimation {
   0% {
      transform-origin: 0% 0%;
      opacity: 0;
   }
   100% {
      transform-origin: 0% 0%;
      opacity: 1;
   }
}
