.wowerlay {
  $gap: 50px;
  $positionX: var(--wowerlay-x, 0px);
  $positionY: var(--wowerlay-y, 0px);

  position: absolute;
  display: inline-block;
  left: #{$positionX};
  top: #{$positionY};

  pointer-events: all !important;
  overflow: auto;

  max-width: calc(100vw - #{$gap});
  max-width: calc(#{fill-available} - #{$gap});
  max-width: calc(#{-webkit-fill-available} - #{$gap});

  max-height: calc(100vh - #{$gap});
  max-height: calc(#{fill-available} - #{$gap});
  max-height: calc(#{-webkit-fill-available} - #{$gap});
}

.wowerlay-background {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  max-width: fill-available;
  max-width: -webkit-fill-available;
  height: 100vh;
  max-height: fill-available;
  max-height: -webkit-fill-available;
  z-index: var(--wowerlay-z, 500);

  &.no-background {
    pointer-events: none;
  }
}

.wowerlay-anim-enter {
  animation: kOverlayAnimation 0.25s;
}
.wowerlay-anim-leave {
  animation: kOverlayAnimation 0.25s reverse;
}

@keyframes kOverlayAnimation {
  0% {
    transform-origin: 0% 0%;
    opacity: 0;
  }
  100% {
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
