.wowerlay {
  // Varsayılan scrollbar genişliği/yüksekliği / 2
  $gap: 30px;
  $horizontalPosition: var(--wowerlay-x);
  $verticalPosition: var(--wowerlay-y);

  position: absolute;
  left: $horizontalPosition;
  top: $verticalPosition;

  z-index: var(--k-z-index, 1500);
  display: inline-block;

  max-width: calc(100vw - #{$gap});
  max-width: calc(#{fill-available} - #{$gap});
  max-width: calc(#{-webkit-fill-available} - #{$gap});

  max-height: calc(100vh - #{$gap});
  max-height: calc(#{fill-available} - 55px);
  max-height: calc(#{-webkit-fill-available} - #{$gap});

  pointer-events: all !important;
  overflow: auto;
}

.wowerlay-anim-enter {
  animation: kOverlayAnimation 0.25s;
}
.wowerlay-anim-leave {
  animation: kOverlayAnimation 0.25s reverse;
}

@keyframes kOverlayAnimation {
  0% {
    transform-origin: 0% 0%;
    opacity: 0;
  }
  100% {
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
