.wowerlay {
  $gap: 50px;
  $positionX: var(--wowerlay-x, 0px);
  $positionY: var(--wowerlay-y, 0px);

  position: fixed;
  display: inline-block;
  left: #{$positionX};
  top: #{$positionY};
  overflow: auto;

  max-width: calc(100vw - #{$gap});
  max-width: calc(#{-webkit-fill-available} - #{$gap});
  max-width: calc(#{fill-available} - #{$gap});

  max-height: calc(100vh - #{$gap});
  max-height: calc(#{-webkit-fill-available} - #{$gap});
  max-height: calc(#{fill-available} - #{$gap});

  // If `noBackground` is given this will work as global one.
  z-index: var(--wowerlay-z, 500);
}

.wowerlay-background {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  max-width: -webkit-fill-available;
  max-width: fill-available;
  height: 100vh;
  max-height: -webkit-fill-available;
  max-height: fill-available;
  z-index: var(--wowerlay-z, 500);
}